.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 27px;
  width: 105px;
}

.logo__dots {
  position: relative;
  width: 21px;
  height: 27px;
}

.logo__dot {
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: var(--color-gray-900);
  border-radius: 7px;
}

.logo__dot:nth-child(1) {
  bottom: 0;
  left: 0;
}

.logo__dot:nth-child(2) {
  bottom: 0;
  right: 0;
}

.logo__dot:nth-child(3) {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.logo__text {
  height: 16px;
  width: 84px;
}
