/* NotificationItem */
.notification-item {
  padding: 16px;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
}

.notification-item--unread {
  background: #EEF0FC;
}

.notification-item--read {
  background: #FFFFFF;
  border: 1px solid #F4F3F0;
}

.notification-item:hover {
  transform: translateY(-1px);
  box-shadow: 0px 2px 8px rgba(30, 27, 21, 0.08);
}

.notification-item:active {
  transform: translateY(0);
}

.notification-item__content {
  display: flex;
  flex-direction: column;
  gap: 6px;
}


.notification-item__row {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  flex-wrap: wrap;
}

.notification-item__row--top {
  align-items: baseline;
}

.notification-item__row--bottom {
  align-items: baseline;
}

.notification-item__title,
.notification-item__body {
  font-family: 'Onest', sans-serif;
  margin: 0;
  flex: 1;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.notification-item__title {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  color: #302F2D;
}

.notification-item__body {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #73716F;
}

.notification-item__time,
.notification-item__subtitle {
  font-family: 'Onest', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.2;
  white-space: nowrap;
  flex-shrink: 0;
}

.notification-item__time {
  color: #B2B1AE;
}

.notification-item__subtitle {
  color: #302F2D;
}
