/* AuthPhone Page */
.auth-phone {
  background: #F9F8F5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.auth-phone__logo {
  margin-top: 100px;
}

.auth-phone__title {
  font-family: var(--font-onest);
  font-weight: var(--font-weight-medium);
  font-size: 28px;
  line-height: 1.2;
  color: var(--color-gray-900);
  margin-top: 28px;
  text-align: center;
}

.auth-phone__form {
  background: var(--color-gray-25);
  padding: 48px;
  border-radius: 24px;
  box-shadow: 0px 2px 4px 0px rgba(30, 27, 21, 0.05);
  width: 412px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-top: 55px;
}

.auth-phone__button {
  width: 100%;
}

.auth-phone__button button {
  width: 100%;
}

@media (max-width: 768px) {
  .auth-phone__form {
    width: calc(100% - 32px);
    padding: 32px 24px;
  }
}
