/* OrdersPage */
.orders-page {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 28px;
  background: #F9F8F5;
}

.orders-page__container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 1064px;
  padding: 28px;
  background: white;
  border-radius: 20px;
  box-shadow: 0px 1px 2px 0px rgba(30, 27, 21, 0.05);
  overflow: visible; /* Важно для видимости модального окна справа */
}
