.mobile-booking-slot {
  display: flex;
  gap: 16px;
  align-items: flex-start;
  min-height: 70px;
  margin-bottom: 2px;
}

.mobile-booking-slot:last-child {
  margin-bottom: 0;
}

.mobile-booking-slot__time {
  width: 53px;
  flex-shrink: 0;
  font-family: 'Onest', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.2;
  color: #888684;
}

.mobile-booking-slot__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2px;
  min-height: 70px;
}

.mobile-booking-slot__empty {
  width: 100%;
  height: 70px;
  background: #FFFFFF;
  border: 1px solid #F4F3F0;
  border-radius: 16px;
  flex-shrink: 0;
}

.mobile-booking-slot__empty_clickable {
  cursor: pointer;
  
  /* iOS specific */
  -webkit-tap-highlight-color: transparent;
}

.mobile-booking-slot__empty_clickable:active {
  background: #F9F8F5;
  opacity: 0.8;
}
